.album-title {
  color: white;
}

.album-backdrop {
  background-color: var(--black);
  width: 100%;
  min-height: 75vh;
  margin-top: 15vh;
  padding: 4vw 5vw;
}

/* 90vw = 28vw * 3 + 1vw * 6 */
.photo {
  background-color: white;
  width: 28vw;
  height: 28vw;
  margin: 1vw;
  display: inline-block;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  display: flex;
  transition: opacity 0.5s;
}

.modal img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 600px) {
  .modal img {
    width: 90%;
  }
}
